html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	color: #414536;
	font-family: "DM Sans", arial;
	font-size: 18px;
	line-height: 28px;
	/* 155.556% */
}

.container {
	max-width: 1330px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}

section {
	padding: 100px 0;
}

.sec_tit {
	color: #2C2F24;
	font-family: "PlayFair Display";
	text-align: center;
	font-size: 100px;
	line-height: 96px;
	/* 96% */
	font-weight: 400;
	margin-bottom: 20px;
}

.sec_desc {
	color: #495460;
	text-align: center;
	font-style: normal;
}

.color {
	color: #BE963F;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.hover:hover {
	color: #BE963F;
}

.btn {
	padding: 12px 24px;
	font-size: 16px;
	font-weight: 700;
	border-radius: 118px;
	border: 2px solid #2C2F24;
	color: #182226;
	transition: 0.3s;
	line-height: 24px;
	text-align: right;
	/* 150% */
	text-align: center;
}

.btn:hover {
	background: #2C2F24;
	color: #fff;
}

.link {
	transition: 0.3s;
}

.link:hover {
	box-shadow: 0px 6px 5px 2px #836A36;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* header */
.head {
	padding: 20px 0;
	align-items: center;
}

.menu a {
	padding: 4px 16px;
	margin-right: 8px;
	color: #2C2F24;
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	/* 150% */
	border-radius: 34px;
	transition: 0.5s;
}

.menu li:last-child a {
	margin-right: 0;
}

.menu a:hover {
	background: #dbdfd0;
}

/* main */
.main .sec_tit {
	max-width: 660px;
	margin: 0 auto 32px;
}

.main_txt {
	max-width: 537px;
	margin: 0 auto 40px;
}

.main_btns {
	display: flex;
	justify-content: center;
}

.main_btns .btn{
	margin: 0 8px ;	
}

.main {
	background: url(../img/img2.png) no-repeat;
}

.btn__red {
	background: #AD343E;
	color: #fff;
	border-color: #AD343E;
}

.btn__red:hover {
	border-color: #2C2F24;
}

.card_b {
	color: #323232;
	font-size: 16px;
	font-weight: 400;
	margin: 30px;
	text-align: center;
}

.card_c {
	color: #2C2F24;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 700;
	padding: 0 29px;
	text-align: center;

}

.cards {
	display: flex;
	justify-content: space-between;
	margin: 80px;
}

.card {
	width: 24%;
	transition: 0.5s;
	border: 1px solid var(--Gray, #f6f6f6);
	background: #fff;
	margin-bottom: 30px;
}

.card:hover {
	box-shadow: 0px 0px 18px 0px rgba(85, 83, 83, 0.25);
}

.cards_ic {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: block;
	background: #f3f3f0;
	margin: 0 auto 30px;
}

.card__1 .cards_ic {
	background-image: url(../img/icons/icon1.svg);
}

.card__2 .cards_ic {
	background-image: url(../img/icons/icon2.svg);
}

.card__3 .cards_ic {
	background-image: url(../img/icons/icon3.svg);
}

.card__4 .cards_ic {
	background-image: url(../img/icons/icon4.svg);
}

/* provide */

.provide {
	background: #f9f9f7;
}

.provide_in {
	align-items: center;
}

.provide_left {
	width: calc(50% - 45px);
	padding: 0 50px 50px 0;
	position: relative;
}

.provide_info {
	position: absolute;
	bottom: 0;
	right: 0;
}

.provide_right {
	width: calc(50% - 45px);
}

.provide .sec_sub-tit {
	margin-bottom: 24px;
}

.provide_txt {
	color: #2C2F24;
	font-size: 16px;
	margin-bottom: 24px;
	line-height: 28px;
}

.provide_txt-2 {
	color: #414536;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 40px;
}

.provide_info {
	border-radius: 12px;
	background: #474747;
	padding: 50px;
	color: #fff;
	width: 411px;
}

/* offer */

.offer .sec_sub-tit {
	max-width: 675px;
	margin-bottom: 57px;
}

.offer_tit {
	color: #2C2F24;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: -0.72px;
	margin-bottom: 15px;
	padding-left: 10px;
}

.offer_txt {
	padding-left: 10px;
	color: #414536;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
}

.offer_cards {
	display: flex;
	justify-content: space-between;
	margin: 80px;
}

.offer_card {
	background: #fff;
	width: calc((100% - 48px) / 4);
	transition: 0.3s;
	border-radius: 12px;
	padding-bottom: 20px;
}

.offer_card:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.offer_img {
	margin-bottom: 30px;
}

/* fast */

.fast {
	background: #f9f9f7;
}

.fast_left {
	width: 50%;
}

.fast_right {
	width: 50%;
	padding-left: 90px;
	align-self: center;
}

.fast_img-big {
	width: 58%;
}

.fast_img-sm {
	width: 42%;
	padding: 30px 0 0 24px;
}

.fast_img:first-child {
	margin-bottom: 24px;
}

.fast .sec_sub-tit {
	margin-bottom: 20px;
}

.fast_txt {
	color: #414536;
	font-size: 16px;
	line-height: 24px;
	/* 150% */
	margin-bottom: 50px;
}

.fast_icon {
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
}

.fast_icon i {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #AD343E url(../img/icons/fast1.svg) center no-repeat;
}

/*  .fast_icon:nth-child(2) i {
	background-image: url();
}*/

/*  .fast_icon:last-child i {
	background-image: url();
}*/

.fast_icon span {
	padding-left: 20px;
	color: #2C2F24;
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
	/* 130% */
}


/* our */
.our .sec_tit {
	margin-bottom: 64px;
}

.our_card {
	width: calc((100% - 48px) / 3);
	border-radius: 12px;
	background: var(--neutral-02, #F9F9F7);
	padding: 45px 35px 35px;
}

.our_tit {
	color: #AD343E;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	/* 125% */
	letter-spacing: -0.72px;
	margin-bottom: 24px;
}

.our_txt {
	padding-bottom: 32px;
	margin-bottom: 32px;
	border-bottom: 1px solid #dbdfd0;
	color: #414536;
	font-size: 18px;
	line-height: 28px;
	/* 155.556% */
}

.our_img {
	width: 70px;
	height: 70px;
}

.our_customer {
	justify-content: flex-start;
}

.our_info {
	padding-left: 20px;
}

.our_name {
	color: #2C2F24;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	/* 150% */
	margin-bottom: 3px;
	display: block;
}

.our_address {
	color: #414536;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	/* 155.556% */
}

/* blog */

.blog {
	background: #F9F9F7;
}

.blog_all {
	padding: 80px 0;
}

.blog_top {
	margin-bottom: 64px;
	align-items: center;
}

.blog_left {
	width: 50%;
}

.blog_right {
	width: 50%;
	padding: 0 0 0 24px;
}

.blog_date {
	color: #737865;
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	/* 150% */
	padding: 15px 0 0 35px;
}

.blog_tit {
	width: 256px;
	font-family: DM Sans;
	color: #2C2F24;
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
	/* 130% */
	padding: 15px 0 0 35px;
}

.blog_txt {
	width: 554px;
	color: #414536;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
	padding: 15px 0 0 35px;
}

.blog_card {
	width: 306px;
	margin: 0 0 12px 0;
	border-radius: 12px;
	transition: 0.5s;
	border: 1px solid #F9F9F7;
	background: #FFF;
}

.blog_card:hover {
	box-shadow: 0px 0px 18px 0px rgba(85, 83, 83, 0.25);
}

.blog_card__big {
	border-radius: 12px;
	transition: 0.5s;
	border: 1px solid #F9F9F7;
	background: #FFF;
}

.blog_card__big:hover {
	box-shadow: 0px 0px 18px 0px rgba(85, 83, 83, 0.25);
}

/* footer */

footer {
	padding-top: 120px;
	background: #474747;
}

.footer_copy {
	padding: 30px 0 85px;
	color: #ADB29E;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}

.footer_big {
	padding-bottom: 100px;
	border-bottom: 1px solid #414536;
	color: #dbdfd0;
}


.footer_left {
	width: 30%;
}

.footer_nav {
	width: 17%;
}

.footer_right {
	width: 35%;
}

.footer_tit {
	color: #fff;
}

.footer_img {
	width: calc((100% - 15px) / 2);
	margin-bottom: 15px;
	border-radius: 12px;
	overflow: hidden;
	position: relative;
}

.footer_img img {
	transition: 0.5s;
}

.footer_img:hover img {
	transform: scale(1.2);
}

.footer_img::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0;
	z-index: 1;
	transition: 0.5s;
}

.footer_img:hover::before {
	opacity: 0.5;

}



/* about */

/* feel */

.feel {
	background: url(../img/feel.jpg) center no-repeat;
	background-size: cover;
	display: block;
	padding: 215px 0;
}

.feel_sec_sub-tit {
	color: #FFF;
	text-align: center;
	font-family: Playfair Display;
	max-width: 596px;
	margin: 0 auto;
	font-weight: 500;
	font-size: 55px;
}

.feel_play {
	width: 106px;
	height: 106px;
	display: block;
	border-radius: 50%;
	background: #FFF;
	margin: 0 auto 34px;
	display: flex;
	position: relative;
}

.feel_play::before {
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	margin-left: 5px;
	border-width: 12.5px 0 12.5px 20px;
	border-color: transparent transparent transparent #AD343E;
	transform: rotate(0deg);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.feel_items .flex {
	align-items: flex-start;
	padding: 80px 0 0 80px;
}

.feel_ic {
	width: 48px;
	height: 48px;
}

.feel_info {
	width: 294px;
	height: 90px;
}

.feel_tit {
	color: #2C2F24;
	font-size: 20px;
	line-height: 26px;
	/* 130% */
}

.feel_txt {
	color: #414536;
	font-size: 16px;
	line-height: 24px;
	/* 150% */
}


/* little */

.little_all {
	display: flex;
}

.little_left {
	width: 50%;
}

.little_img {
	width: 555px;
	height: 680px;
}

.little_right {
	width: 50%;
}

.little_tit {
	color: #2C2F24;
	font-family: Playfair Display;
	font-size: 55px;
	font-weight: 500;
	line-height: 60.5px;
	/* 110% */
}

.little_txt {
	color: #414536;
	width: 556px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
}

.little_text {
	color: #2C2F24;
	text-align: center;
	font-family: Playfair Display;
	font-size: 55px;
	line-height: 60.5px;
	/* 110% */
}

.little_ed {
	color: #414536;
	text-align: center;
	font-family: DM Sans;
	font-size: 18px;
	line-height: 28px;
	/* 155.556% */
}

.little_cards {
	justify-content: space-between;
	margin: 80px;
	max-width: 341px;
}

.little_card {
	width: 293px;
	background: #fff;
	width: calc((100% - 24px) / 2);
	transition: 0.3s;
	border-radius: 8px;
	padding-bottom: 20px;
}

.little_card:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}



/* detailes */

.sec_sub-tit {
	color: #2C2F24;
	text-align: center;
	font-family: Playfair Display;
	font-size: 55px;
	font-weight: 500;
	line-height: 60.5px;
	/* 110% */
}

.detailes_txt__one {
	width: 1086px;
	padding: 0 0 0 100px;
}

.detailes_txt__two {
	width: 1086px;
	padding: 0 0 0 100px;
}


.img {
	margin: 80px;
}

.detailes_what {
	width: 1086px;
	padding: 0 0 0 100px;
}


.cards_text {
	margin: 50px;
}

.cards_tit {
	color: #2C2F24;
	text-align: center;
	font-family: Playfair Display;
	font-size: 55px;
	font-weight: 500;
	line-height: 60.5px;
	/* 110% */
}

.cards_txt {
	color: #414536;
	margin: 20px;
	text-align: center;
	font-family: DM Sans;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	/* 155.556% */
}


.card:hover {
	border-radius: 12px;
	box-shadow: 0px 3px 60px 0px rgba(0, 0, 0, 0.2);
}


.card {
	width: 306px;
	height: 354px;
	flex-shrink: 0;
	transition: 0.2s;
	margin: 0;
}


.cards {
	display: flex;
	justify-content: space-between;
	margin: 80px;
}

.card {
	background: #fff;
	width: calc((100% - 48px) / 4);
	transition: 0.3s;
	border-radius: 12px;
	padding-bottom: 20px;
}

.card:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.card_img {
	margin-bottom: 30px;
}



/* pages */

.menu_cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 24px;
	margin-bottom: 50px;
}

.menu_card {
	background: #fff;
	width: calc((100% - 48px) / 4);
	transition: 0.3s;
	border-radius: 12px;
	padding-bottom: 20px;
}

.how_date {
	color: #737865;
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	/* 142.857% */
}

.how_txt {
	margin: 10px;
	width: 253px;
	color: #2C2F24;
	font-family: DM Sans;
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
	/* 130% */
}

.menu_card:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.h2_articles {
	margin: 20px;
	color: #2C2F24;
	text-align: center;
	font-family: Playfair Display;
	font-size: 100px;
	font-weight: 400;
	line-height: 96px;
	/* 96% */
}

.p_articles {
	margin: 20px;
	color: #414536;
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	/* 155.556% */
}

.articles_img {
	width: 306px;
	height: 200px;
}


/* menu */

.menu_head {
	margin: 80px;
}


.our_items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 24px;
	margin-bottom: 50px;
}

.our_item {
	background: #fff;
	width: calc((100% - 48px) / 4);
	transition: 0.3s;
	border-radius: 12px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.our_item:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.our_img {
	width: 302px;
	height: 220px;
}

.item_price {
	color: #AD343E;
	text-align: center;
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	/* 125% */
	letter-spacing: -0.72px;
	margin: 15px;
}

.item_tit {
	color: #2C2F24;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	/* 130% */
	margin: 15px;
}

.item_txt {
  text-align: center;
	color: #414536;
	font-size: 16px;
	line-height: 24px;
	/* 150% */
	padding: 0 8px;
}

.order_left {
	width: calc(100% - 380px);
	justify-content: center;
}

.order_right {
	width: 300px;
}

.order_tit {
	color: #2C2F24;
	font-family: Playfair Display;
	font-size: 55px;
	font-weight: 500;
	line-height: 60.5px;
	/* 110% */
}

.order_txt {
	width: 346px;
	color: #414536;
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
}

.order_apps {
}


.order_app {
	background: #fff;
	width: 220px;
	margin: 0 12px 40px;
	border-radius: 12px;
	border: 1px solid var#F9F9F7;
	box-shadow: 0px 2.97872px 59.57446px 0px rgba(0, 0, 0, 0.08);
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.order_app__big {
	width: 260px;
}


.order_img {
	width: 160px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}


/* contact */

.grey {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 50%;
	background: #F9F9F7;
	z-index: -1;
}


.sec_desc {
	margin: 0 0 80px;
}

.table_in {
	border-radius: 16px;
	border: 1px solid #fff;
	background: #fff;
	box-shadow: 0px 2.97872px 59.57446px 0px rgba(0, 0, 0, 0.08);
	max-width: 812px;
	margin: 0 auto;
	padding: 43px 50px 50px;
}

.table_txt {
	color: #2C2F24;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	/* 150% */
	margin-bottom: 8px;
	display: block;
}

.table_input-in {
	border-radius: 72px;
	border: 1px solid #DBDFD0;
	margin-bottom: 24px;
	padding: 0 24px;
}

.input {
	line-height: 56px;
	font-size: 16px;
}

.table_input {
	width: calc(50% - 12px);
}

.table_input__big {
	width: 100%;
}

.table_input__verybig {
	width: 100%;
	height: 156px;
	border-radius: 16px;
}

.reserved {
	gap: 90px;
	justify-content: center;
	margin: 80px;
}

.reserv_tit {
	color: #2C2F24;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	/* 130% */
}

.reserv_number {
	color: #AD343E;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	/* 125% */
	letter-spacing: -0.72px;
}

.reserv_txt {
	width: 187px;
	color: #2C2F24;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	/* 155.556% */
}


/* book */

.sec_desc {
	margin: 0 0 80px;
}

.form_in {
	border-radius: 16px;
	border: 1px solid #fff;
	background: #fff;
	box-shadow: 0px 2.97872px 59.57446px 0px rgba(0, 0, 0, 0.08);
	max-width: 812px;
	margin: 0 auto;
	padding: 43px 50px 50px;
}

.form_txt {
	color: #2C2F24;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	/* 150% */
	margin-bottom: 8px;
	display: block;
}

.form_input-in {
	border-radius: 72px;
	border: 1px solid #DBDFD0;
	margin-bottom: 24px;
	padding: 0 24px;
}

.input {
	line-height: 56px;
	font-size: 16px;
}

.form_input {
	width: calc(50% - 12px);
}

.form_input__big {
	width: 100%;
}


.form-wrap {
	padding-bottom: 0;
	margin-bottom: -240px;
	z-index: 10;
	position: relative;
}


.map {
	padding-top: 0;
}